header {
  color: black;
  background-color: gray;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

#button {
  width: 50%;
  border: none;
  padding: 20px;
  background-color: red;
  display: inline;
}


#output {
  float: right;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: -20px;
  display: inline-block;
}

#finalResponse {
  width: 50%;
}
